.top-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: #07185b;
    color: #fff;
}

.scroll-progress-tracking-container{
    width: 100%;
    height: 10px;
    background: #aaf900;
}

.current-progress-bar{
    height: 10px;
    background: #ff0000;
    width: 0%;
}

.data-container{
    margin-top: 100px;
}